In [106]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen
from io import BytesIO

# Vaccination Sites Data

In [60]:
url = 'https://www.england.nhs.uk/coronavirus/publication/vaccination-sites/'

In [61]:
page = requests.get(url)

In [62]:
soup = BeautifulSoup(page.content, 'html.parser')

In [64]:
links = soup.find_all("a", {"class": "doc-thumbnail"})

In [65]:
for link in links:
    print(link.prettify())

<a class="doc-thumbnail" href="https://www.england.nhs.uk/coronavirus/wp-content/uploads/sites/52/2021/01/map-of-vaccination-sites-2-april-2021.pdf">
 <img alt="Map of vaccination sites - 2 April 2021" src="https://www.england.nhs.uk/coronavirus/wp-content/themes/nhsengland/assets/img/document-icons/pdf.png"/>
</a>

<a class="doc-thumbnail" href="https://www.england.nhs.uk/coronavirus/wp-content/uploads/sites/52/2021/01/list-of-vaccination-sites-2-april-2021.xlsx">
 <img alt="List of vaccination sites - 2 April 2021" src="https://www.england.nhs.uk/coronavirus/wp-content/themes/nhsengland/assets/img/document-icons/xls.png"/>
</a>

In [86]:
data_url = [link['href'] for link in links if '.xlsx' in link['href']][0]

In [87]:
data_url

'https://www.england.nhs.uk/coronavirus/wp-content/uploads/sites/52/2021/01/list-of-vaccination-sites-2-april-2021.xlsx'

In [99]:
sheet_names = ['Hospital Hubs', 'GP-led vaccination services', 'Pharmacies', 'Vaccination centres']

In [89]:
xld = urlopen(data_url).read()

In [92]:
xlds = BytesIO(xld)

In [97]:
hospital_hubs_df = pd.read_excel(xlds, sheet_names[0])

In [98]:
hospital_hubs_df.head()

,Region,STP/ICS,Trust or site name,Site Address Details,Postcode
0,East of England,"Bedfordshire, Luton and Milton Keynes STP",Milton Keynes University Hospital NHS Foundati...,Standing Way,MK6 5LD
1,East of England,Cambridgeshire and Peterborough STP,Cambridge University Hospital NHS Foundation T...,Addenbrookes Hospital,CB2 0QQ
2,East of England,Cambridgeshire and Peterborough STP,North West Anglia NHS Foundation Trust,Peterborough City Hospital,PE3 9GZ
3,East of England,Hertfordshire and West Essex STP,East and North Hertfordshire NHS Trust,Lister Hospital,SG1 4AB
4,East of England,Norfolk and Waveney Health and Care Partnershi...,James Paget University Hospitals NHS Foundatio...,Lowestoft Road,NR31 6LA

In [100]:
gp_led_vaccination_services_df =  pd.read_excel(xlds, sheet_names[1])

In [101]:
gp_led_vaccination_services_df.head()

,Region,CCG,Site name,Address,Postcode
0,East of England,NHS Basildon and Brentwood CCG,Brentwood Centre,"Doddinghurst Road, Pilgrims Hatch, Brentwood",CM15 9NN
1,East of England,NHS Basildon and Brentwood CCG,Emmanuel Church Hall,"Laindon Road, Billericay",CM12 9LD
2,East of England,NHS Basildon and Brentwood CCG,George Hurd Centre,"Audley Way, Basildon",SS14 2FL
3,East of England,NHS Basildon and Brentwood CCG,The Nevendon Centre,"Nevendon Road, Wickford",SS12 0QG
4,East of England,NHS Bedfordshire CCG,Guru Nanak Gurdwara,"84 Ford End Road, Bedford",MK40 4JX

In [102]:
pharmacies_df =  pd.read_excel(xlds, sheet_names[2])

In [103]:
pharmacies_df.head()

,Site name,Address,Postcode
0,A R Pharmacy,"3 Hazel Farm Road, Southampton, Hampshire",SO40 8WU
1,ABC Drug Store - Downton,"5 High Street, Downton, Salisbury",SP5 3PG
2,Ace Pharmacy,"1 Ace Parade, Hook Road, Chessington, Surrey",KT9 1DR
3,Acklam Road Pharmacy,"89 Acklam Road, Middlesbrough, Cleveland",TS5 5HR
4,Acorn Pharmacy,"Unit 2, Remembrance Road, Coventry, West Midlands",CV3 3DP

In [104]:
vaccination_centres_df = pd.read_excel(xlds, sheet_names[3])

In [105]:
vaccination_centres_df.head()

,Region\n,STP/ICS,Centre,Address,Postcode
0,East of England,"Bedfordshire, Luton and Milton Keynes",Bedford Heights,"Brickhill Drive, Bedford",MK41 7PH
1,East of England,"Bedfordshire, Luton and Milton Keynes",Biggleswade Community Hospital ​,"Potton Road, Biggleswade",SG18 0EJ
2,East of England,"Bedfordshire, Luton and Milton Keynes",Inspire: Luton Sports Village,"Butterfield Green Rd, Luton",LU2 8DD
3,East of England,"Bedfordshire, Luton and Milton Keynes",Priory House,"Monks Walk, Chicksands, Shefford",SG17 5TQ
4,East of England,"Bedfordshire, Luton and Milton Keynes",Redgrave Children's Centre,"Redgrave Children's Centre, Luton",LU3 3QN